body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.grid-container{
    display: grid;
    gap: 1.5rem;   
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(32, 23, 23);
}

nav li {
  float: left;
}

nav a {
  display: block;
  text-decoration: none;
  color: rgb(241, 228, 228);
  text-align: center;
  padding: 14px 16px;
  
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
  background-color: rgb(73, 70, 70);
}
footer {
  text-align: center;
  text-decoration: none;
  padding: 4px;
  background-color: rgb(22, 21, 14);
  color: white;
}
footer a {
  text-decoration: none;
  color: rgb(241, 228, 228);
  text-align: center;
  padding: 14px 16px;
  
}
footer a:hover {
  background-color: rgb(73, 70, 70);
}