body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.container{
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.1fr 1fr 2fr 0.1fr;
    height: 100vh;
    grid-template-areas: "nav nav nav"
    "skills about about"
    "projects about about"
    "footer footer footer";
    
}

nav{
  background: black;
  text-decoration: none;
  grid-area: nav;
}

#about{
  background: hwb(240 65% 9%);
  text-align:center;
 grid-area: about;
}

#skills{
  background:brgb(44, 59, 13);
  grid-area: skills;
}

#projects{
  background: gray;
  grid-area: projects;
}

footer{
  background-color: black;
  text-align: center;
  grid-area: footer;
}

@media only screen and (max-width:550px){
 .container{
   grid-template-columns: 1fr;
   grid-template-rows: 0.4fr 0.1fr 2.3fr 0.1fr;
   grid-template-areas: "nav"
                    "about"
                    "skills"
                    "projects"
                    "footer";
 }  
}